- var user = {description: 'foo bar baz'}

html
  head
    title= title
  body
    // <li>{item}<li>
    each item in list1
      li= item 
    p This is #{msg.toUpperCase()}
    h1 #{user.description}
